<section class="pt-16 bg-white dark:bg-neutral-900" id="StyleguideTop">
	<div class="container relative max-w-screen-2xl pb-12 md:px-8">
		<div class="px-6 space-y-4">
			<p class="text-3xl font-bold text-neutral-800 dark:text-neutral-50 font-heading sm:text-4xl">
				{{ siteName }}
				Styleguide
			</p>
			<h2 class="text-base tracking-wide text-neutral-600 dark:text-neutral-100">
				{{ alias(craft.app.sites.primarySite.baseUrl) }}
			</h2>
		</div>
	</div>
</section>
