<div class="TextBlock">

	{% if block.headline is defined and block.headline is not empty %}
		<h2>{{ block.headline }}</h2>
	{% endif %}

	{% if block.copy is defined and block.copy is not empty %}
	    {{ block.copy }}
	{% endif %}

</div>
