<section class="{{ name ?? '' }}">
        <div class="{{ background ?? 'bg-white' }}">
            <div class="{{ container ?? 'container-block' }}">

                {{ children }}

            </div>
        </div>
    </div>
</section>